/* Container da Section */
.faq-section {
    background-color: var(--color-text-titulo); 
    padding: 5rem 2rem; 
    width: 100%;
    display: flex;
    justify-content: center;
}

.faq-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faq-container h2 {
    font-family: var(--font-family-title);
    color: var(--color-text-suave);
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.faq-item {
    background-color: var(--color-text-subtitulo);
    border-radius: 20px;
    padding: 2px 20px;
}

.faq-question {
    background: none;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    cursor: pointer;
    text-align: left;
}

.question-text {
    font-family: var(--font-family-title);
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-text-suave);
}

.icon-wrapper {
    display: flex; 
    color: var(--color-text-suave);
}

.faq-answer-wrapper {
    overflow: hidden; 
}

.faq-answer-content p {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-family: var(--font-family-texto);
    color: var(--color-text-suave);
    line-height: 1.6;
}

@media screen and (max-width: 1024px) {
    .faq-section {
        min-height: 100vh;
    }
}

@media screen and (max-width: 314px) {
    .question-text {
        font-size: 1em;
    }

    .faq-container h2 {
        font-size: 1.5em;
    }
}