* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul { list-style: none; }
a { text-decoration: none; }
strong, em { font-style: none; }


.bgHero {
   background-image: url("../assets/duasArvoresMarrons.webp");
   height: 100vh;
   background-position: center center;
   background-size: cover;
}

.bgTwoBlack {
   background-color: rgba(0, 0, 0, .5);
   height: 100vh;
   width: 100%;
   z-index: -1;
}
