* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul { list-style: none; }
a { text-decoration: none; }
strong, em { font-style: none; }
section { height: 100vh; }

.bgHero {
   background-image: url("../assets/duasArvoresMarrons.webp");
   height: 100vh;
   width: 100vw;
   background-position: center center;
   background-size: cover;
   position: fixed;
}

.bgTwoBlack {
   background-color: rgba(0, 0, 0, .5);
   height: 100vh;
   width: 100%;
   z-index: -1;
}

.buttonZap {
   background-color: var(--color-text-corpo);
   padding: 1em;
   border-radius: 10px;
   color: var(--colot-text-suave);
   font-family: var(--font-family-title);
   font-weight: 400;
   transition: all .4s ease;
}

.buttonZap:hover {
   transform: scale(1.1);
}