@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* ----------------------------------------------------
    1. FONTES 
    ---------------------------------------------------- */
    --font-family-title: 'Montserrat', sans-serif;
    --font-family-subtitulo: 'Montserrat', sans-serif;
    --font-family-texto: 'Montserrat', sans-serif;
    
    /* ----------------------------------------------------
    2. CORES DE TEXTO 
    ---------------------------------------------------- */
    --color-text-titulo: #181707;      
    --color-text-subtitulo: #334511;   
    --color-text-corpo: #506040;       
    --color-text-suave: #ffffff;       
    
    /* ----------------------------------------------------
    3. CORES DE FUNDO & ESTRUTURA  
    ---------------------------------------------------- */
    --color-bg-light: #F9F8F4;         
    --color-bg-dark: #F4F1EA;          
    --color-bg-card: #FFFFFF;          
    --color-border-dividers: #E0E0D0;  

    /* ----------------------------------------------------
    4. CORES DE AÇÃO & DESTAQUE 
    ---------------------------------------------------- */
    --color-primary: #888734;       
    --color-secondary: #BC6C25;      
    --color-cta: var(--color-primary);  
    --color-hover-link: #fffb4f;         
    
    /* ----------------------------------------------------
    5. DETALHES, SOMBRAS & OUTROS
    ---------------------------------------------------- */
    --color-detail-enfeite: #D8C3A5;    
    --box-shadow-medium: 0 4px 12px rgba(24, 23, 7, 0.1); 
    
    /* ----------------------------------------------------
    6. PROPRIEDADES DE TRANSIÇÃO
    ---------------------------------------------------- */
    --transition-duration: 0.3s;
}


body.dark-mode, 
[data-theme="dark"] {
    /* ----------------------------------------------------
    2. CORES DE TEXTO INVERTIDAS
    ---------------------------------------------------- */
    --color-text-titulo: #F4F1EA;       
    --color-text-subtitulo: #D8D4C5;    
    --color-text-corpo: #B0B0A0;        
    --color-text-suave: #ffffff;        
    
    /* ----------------------------------------------------
    3. CORES DE FUNDO INVERTIDAS 
    ---------------------------------------------------- */
    --color-bg-light: #181707;          
    --color-bg-dark: #334511;           
    --color-bg-card: #4A5D2C;           
    --color-border-dividers: #506040;   

    /* ----------------------------------------------------
    4. CORES DE AÇÃO & DESTAQUE INVERTIDAS
    ---------------------------------------------------- */
    --color-primary: #C8C77F;           
    --color-secondary: #EAA863;         
    --color-cta: var(--color-primary);
    --color-hover-link: #B8B76E;        

    /* ----------------------------------------------------
    5. DETALHES, SOMBRAS & OUTROS
    ---------------------------------------------------- */
    --color-detail-enfeite: #708055;    
    --box-shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.4); 
}