.preloader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #334511; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: var(--color-text-suave, #181707);
    font-family: var(--font-family-title);
    font-size: 3rem;
}


@media screen and (max-width: 700px) {
    .preloader-overlay {
        font-size: 2rem;
    }
}